{% extends "base.html" %}

{% block app_content %}
    <h1>О приложении Bloggy</h1>
    <br>
    <p>Bloggy - это небольшой социальный проект, посвященный общению и распространению своих мыслей и идей!</p>
    <br>
    <p>Каждый пользователь может почувствовать себя блогером, делясь своими постами с остальными участниками сообщества в общей ленте.</p>
    <p>Пожалуйста, <a href="{{ url_for('auth.register') }}" style="text-decoration: none;">зарегистрируйтесь</a>, 
        чтобы начать использовать приложение.</p>
    <p>Чтобы загрузить аватар, используйте сервис <a href="https://ru.gravatar.com/" target="_blank" style="text-decoration: none;">Gravatar</a>.</p>
    <br>
    <p>Будьте добры и уважительны к другим участникам проекта.</p>
    <br>
    <p>По вопросам и предложениям вы можете написать на <a href="mailto:vladislav.svk@gmail.com" style="text-decoration: none;">почту</a>.</p>
    <br>
    <p>Приятного вам использования нашего приложения,</p>
    <p>Команда Bloggy</p>
{% endblock %}
